.custom-section {
    padding-left: 0;
    padding-right: 0;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-title {
    flex: 3;
    text-align: left;
    margin-right: 10px; /* Add some margin for spacing */
}

.item-price {
    flex: 1;
    text-align: right;
}

.needs-validation {
    margin-left: 1.5%;
}

h4 {
    padding-top: 1%;
}