.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

#cart-count {
    color: red;
}

.search-bar-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}